.verde {
    color: greenyellow;
}

.rojo {
    color: red;
}

.azul {
    color: blue;
}

.azul-hover {
    color: aqua;
}

.azul-hover:hover {
    color: green;
    cursor: pointer;
}

.bg-azul{
    background-color: blue;
}

.bg-amarillo{
    background-color: yellow;
}

.bg-verde{
    background-color: greenyellow;
}

.bg-rojo{
    background-color: red;
}

.bg-cafe{
    background-color: brown;
}

.bg-rosado{
    background-color: palevioletred;
}