
/* Comentarios .css */

/* Etiqueta */
h1, h2 {
    /* nombre-propiedad:valor-propiedad; */
    color: orangered;
}

/* clase */
.bg-green {
    background-color: greenyellow;
}


/* ID */
#rojo {
    color: blue;
}

#rojo :hover {
    color: green;
}


.borde-cafe {
    border-style: solid;
    border-width: 3px;
    border-color: brown;
}

/* (style) */

/* (query selectors) */

h1.bg-green, h2.amarillo {
    background-color: red;
}